doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,400;1,900&display=swap", rel="stylesheet")
    title Corona Cases
  body
    section
      h1 Corona Cases per country
      div#cases
  
  a.nav(href='/updatestats') Go to update page

  script(src='/primus/primus.js')
  script(src='/javascripts/index.js')